body {
  font-family: "Dosis", "Arial";
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: black;
  }
}
$desktop_width: 70%;
div,
nav, .header_container {
  display: flex;
}
.header_container {
  width: $desktop_width;
  margin: auto;
  height: 70px;
  display: flex;
  flex-direction: row;
  img {
    flex: 1;
    height: 96%;
    padding: 2px;
  }
  .wrapper {
    flex: 9;
    justify-content: space-between;
    nav {
      margin-left: 3%;
      height: 100%;
      a {
        padding: 4px;
        margin: 35% 20% 0 20%;
      }
    }
    .cart {
      flex-direction: row;
      align-items: center;
      background-color: #eeeeee;
      padding: 8%;
      img {
        width: 15px;
        height: 25px;
        
      }
    }
    .rightItems {
      width: 100px;
      flex-direction: column;
      justify-content: space-between;
      a {
        font-size: 80%;
        font-weight: 600;
        padding: 2px 0 2px 10px;
      }
      .loginItems {
        justify-content: flex-end;
      }
    }
  }
}
svg g path { fill: red; }
hr {
  margin-top:0;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #eeeeee inset;
}
