@import "./../main.scss";

.login-container {
  margin: auto;
  @include half_width();
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: medium;
    }
  }
  &__login-label {
    flex: 1;
    flex-direction: column;
    padding: 10px;
    span {
      @include fontStyle();
      @media only screen and (max-width: 600px) {
        font-size: x-small;
      }
    }
  }
  &__form {
    flex: 1;
    padding: 10px 10px 0 40px;
    margin-bottom: 15px;
    @media only screen and (max-width: 600px) {
      flex: 2;
    }
    &__err-div {
      color: $RED;
      @media only screen and (max-width: 600px) {
        font-size: small;
      }
    }
    &__input-container {
      margin-bottom: 8px;
      position: relative;
      input {
        border: none;
        border-bottom: solid 1.5px darken($GRAY, 15%);
        font-size: 16px;
        outline: 0;
        padding: 20px 0 10px;
        width: $FULL_WIDTH;
        &:focus {
          outline: none !important;
          border-bottom: solid 1.5px $SKY_BLUE;
        }
        &.invalid {
          background-color: $AMBER;
        }
      }
      label {
        font-size: 16px;
        color: darken($GRAY, 15%);
        position: absolute;
        transform-origin: top left;
        transform: translate(0, 16px) scale(1);
        transition: all 0.1s ease-in-out;
      }
      &.active {
        label {
          transform: translate(0, 4px) scale(0.95);
          color: $SKY_BLUE;
          margin: -10px 0 0 0;
        }
      }
    }
    button {
      @include buttonStyle();
      padding: 10px;
      margin-top: 25px;
      cursor: pointer;
      width: $FULL_WIDTH;
    }
  }
}
