@import "./theme.scss";

body {
  font-family: "Dosis", "Arial";
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  a {
    text-decoration: none;
    color: $BLACK;
    &:hover {
      transition: all 0.1s ease-in-out;
      transform: scale(1.1);
    }
  }
}

h4 {
  margin: 0;
}

div,
nav,
header,
footer {
  display: flex;
}
hr {
  margin: 0;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px $GRAY inset;
}

button {
  color: $WHITE;
  background: $PINK;
  border: none;
  cursor: pointer;
  &:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
  }
}

footer {
  background: $GRAY;
  padding: 10px 0;
  p {
    margin: auto;
    width: $DESKTOP_WIDTH;
    @include fontStyle();
    @media only screen and (max-width: 768px) {
      text-align: center;
      width: $FULL_WIDTH;
    }
  }
}
