@import "./theme.scss";

@mixin desktop_width() {
  @media only screen and (min-width: 769px) {
    width: $DESKTOP_WIDTH;
  }
  @media only screen and (max-width: 768px) {
    width: $FULL_WIDTH;
  }
}
@mixin half_width() {
  @media only screen and (min-width: 769px) {
    width: $HALF_WIDTH;
  }
  @media only screen and (max-width: 768px) {
    width: $FULL_WIDTH;
  }
}
@mixin fontStyle() {
  font-weight: 600;
  font-size: small;
}
@mixin sectionStyle() {
  @include desktop_width();
  margin: auto;
}
@mixin separatorStyle() {
  border-bottom: 10px solid transparent;
  border-image: url(/static/images/separator.png) 13;
}

body {
  font-family: "Dosis", "Arial";
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  a {
    text-decoration: none;
    color: $BLACK;
    &:hover {
      transition: all 0.1s ease-in-out;
      transform: scale(1.1);
    }
  }
}

div,
nav,
header,
footer {
  display: flex;
}
hr {
  margin: 0;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px $GRAY inset;
}

button {
  color: $WHITE;
  background: $PINK;
  border: none;
  cursor: pointer;
  &:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
  }
}

footer {
  background: $GRAY;
  padding: 10px 0;
  p {
    @include sectionStyle();
    @include fontStyle();
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
}
