@import './theme.scss';


@mixin desktop_width() {
  @media only screen and (min-width: 769px) {
    width: $DESKTOP_WIDTH;
  }
  @media only screen and (max-width: 768px) {
    width: $FULL_WIDTH;
  }
}
@mixin half_width() {
  @media only screen and (min-width: 769px) {
    width: $HALF_WIDTH;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  @media only screen and (max-width: 768px) {
    width: $FULL_WIDTH;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@mixin fontStyle {
  font-weight: 600;
  font-size: small;
}
@mixin buttonStyle {
  color: $WHITE;
  background: $PINK;
}
@mixin sectionStyle {
  @include desktop_width();
  margin: auto;
}
@mixin separatorStyle {
  border-bottom: 10px solid transparent;
  -o-border-image: url(/static/images/separator.png) 13;
  border-image: url(/static/images/separator.png) 13;
}
body {
  font-family: "Dosis", "Arial";
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  a {
    text-decoration: none;
    color: $BLACK;
  }
}

div,
nav,
header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
hr {
  margin: 0;
  height: 10px;
  border: 0;
  -webkit-box-shadow: 0 10px 10px -10px $GRAY inset;
  box-shadow: 0 10px 10px -10px $GRAY inset;
}

button {
    outline: none;
    border: none;
    background: none;
}

footer {
  background: $GRAY;
  padding: 10px 0;
  p {
    @include sectionStyle();
    @include fontStyle();
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
}

