/* Referance color codes */
$BLACK: #000000;
$WHITE: #ffffff;
$GRAY: #eeeeee;
$MEDIUM_GRAY: #989494;
$DARK_GRAY: #717171;
$PINK: #d00256;
$SKY_BLUE: #50dae3;

/* Referance Width and Height*/
$DESKTOP_WIDTH: 80%;
$HALF_WIDTH: 50%;
$FULL_WIDTH: 100%;
$FULL_HEIGHT: 100%;

