/* Reference color codes */
$BLACK: #000000;
$WHITE: #ffffff;
$GRAY: #eeeeee;
$MEDIUM_GRAY: #989494;
$DARK_GRAY: #717171;
$PINK: #d00256;
$SKY_BLUE: #50dae3;
$AMBER: #ffdddd;
$RED: #ff0000;

/* Reference Width and Height*/
$DESKTOP_WIDTH: 80%;
$HALF_WIDTH: 50%;
$FULL_WIDTH: 100%;
$FULL_HEIGHT: 100%;

/* Reference media query breakpoints */
$TABLET_MEDIA_WIDTH : 600px;
$DESKTOP_MEDIA_WIDTH : 992px;

/* Common scss binded in mixins */
@mixin fontStyle() {
  font-weight: 600;
  font-size: small;
}

@mixin separatorStyle() {
  border-bottom: 10px solid transparent;
  border-image: url(/static/images/separator.png) 13;
}
