<div class="loginContainer">
    <div class="loginTextContainer">
        <h1>Login</h1>
        <span>Get access to your Orders, Wishlist and Recommendations</span>
    </div>
    <form method="post" action="/home" class="contact-form">
        <div id="emailContainer" class="inputContainer">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="" required />
        </div>

        <div id="pswdContainer" class="inputContainer">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder=""
            {{!-- oninvalid="this.setCustomValidity('Please enter a 6-10 character password having at least 1 alphabet and 1 number. Allowed special charectors are !@#$%')"
            pattern="^(?=.*\d+)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%]{6,10}$" --}} required />
        </div>

        <button type="submit">Login</button>
    </form>
</div>