@import "./../main.scss";

#productContainer {
  @include sectionStyle();
  margin-top: -10px;
  overflow: auto;
  aside {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0 0 10px;
    background: #eee;
    div {
      padding: 10px;
      border-bottom: 1px solid #98949430;
      a {
        color: #989494;
        font-size: medium;
        &.active {
          color: #d00256;
        }
      }
    }
  }
  section {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    select {
      display: none;
    }
    .product {
      padding: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
      .priceDesc {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
      }
      img {
        width: 100%;
      }
      p {
        background: #eee;
        padding: 5px;
        @include fontStyle();
      }
      h4 {
        margin-bottom: 0;
        height: 70px;
      }
       div:not(.desc) {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        padding: 5px;
        border-bottom: 1px solid gray;
        border-bottom-style: dashed;
        button {
          background: #d00256;
          padding: 5px 15px;
          color: white;
          border: none;
          span {
            display: none;
          }
        }
      }
    }
  }
}