@import "./../main.scss";

.product-container {
  @include sectionStyle();
  margin-top: -10px;
  overflow: auto;
  &__aside {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0 0 10px;
    background: $GRAY;
    @media only screen and (max-width: 768px) {
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
    }
    @media only screen and (max-width: 600px) {
      display: none;
    }
    &__aside-elem {
      border-bottom: 1px solid #98949430;
      a {
        color: $MEDIUM_GRAY;
        font-size: medium;
        text-align: left;
        width: $FULL_WIDTH;
        padding: 10px;
        &.active {
          color: $PINK;
        }
      }
    }
  }
  &__section {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    select {
      display: none;
      @media only screen and (max-width: 600px) {
        color: $WHITE;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: $PINK;
        padding: 10px;
      }
    }
    &__product {
      padding: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      h4 {
        margin-bottom: 0;
        height: 70px;
        @media only screen and (max-width: 768px) {
          margin-bottom: 0;
          height: 50px;
        }
      }
      &__desc {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        img {
          width: $FULL_WIDTH;
          @media only screen and (max-width: 768px) {
            width: $HALF_WIDTH;
          }
        }
        p {
          background: $GRAY;
          padding: 5px;
          @include fontStyle();
          @media only screen and (max-width: 768px) {
            margin: 0;
          }
        }
      }
      &__price-desc {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        padding: 5px;
        border-bottom: 1px solid gray;
        border-bottom-style: dashed;
        @media only screen and (max-width: 768px) {
          span {
            display: none;
          }
        }
        button {
          background: $PINK;
          padding: 5px 15px;
          color: $WHITE;
          border: none;
          span {
            display: none;
            @media only screen and (max-width: 768px) {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
            }
          }
          @media only screen and (max-width: 768px) {
            width: $FULL_WIDTH;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .product-container__section__product__desc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
