@import "./../main.scss";

h4 {
  margin: 0;
}
ul {
  padding: 10px;
  margin: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
ul::-webkit-scrollbar {
  display: none;
}
.overlay {
  position: fixed;
  display: none;
  width: $FULL_WIDTH;
  height: $FULL_HEIGHT;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    top: 70px;
  }
  @media only screen and (max-width: 600px) {
    top: 50px;
  }
  &__cart-detail-view {
    @include flexDirCol();
    position: relative;
    background: $GRAY;
    top: 70px;
    width: 30%;
    left: 60%;
    height: calc(100% - 70px);
    @media only screen and (max-width: 768px) {
      top: 0;
      left: 0;
      width: $FULL_WIDTH;
    }
    @media only screen and (max-width: 600px) {
      height: calc(100% - 50px);
    }
    .cartHeader {
      @include justifyContentSpcBtn();
      color: $WHITE;
      background: $BLACK;
      width: $FULL_WIDTH;
      @media only screen and (max-width: 768px) {
        background: $WHITE;
        color: $BLACK;
      }
      button {
        color: $WHITE;
        padding: 10px 20px;
      }
      h4 {
        padding: 15px;
        span {
          font-weight: 400;
          font-size: small;
        }
      }
    }
    .cartButton {
      @include flexDirCol();
      @include alignItemsCenter();
      background: $WHITE;
      @include justifyContentCenter();
      height: auto;
      width: auto;
      padding: 10px;
      #promoSpan {
        font-size: small;
        padding-bottom: 10px;
      }
      button {
        width: 95%;
        padding: 12px;
        @include buttonStyle();
        @include displayFlex();
        @include justifyContentSpcBtn();
      }
    }
    #cartEmpty {
      @include flexDirCol();
      background: $WHITE;
      color: $BLACK;
      @include justifyContentSpcBtn();
      height: $FULL_HEIGHT;
      .cartEmptyText {
        @include alignItemsCenter();
        @include justifyContentCenter();
        @include flexDirCol();
        height: 92%;
      }
      button {
        @include justifyContentCenter();
      }
    }
    #listItemContainer {
      height: calc(92% - 30px);
    }
    ul {
      @include displayFlex();
      @include alignItemsCenter();
      @include flexDirCol();
      margin: 0;
      .lowestPriceBranding {
        @include alignItemsCenter();
        width: 90%;
        padding: 10px;
        border-radius: 6px;
        background: $WHITE;
        margin-top: 10px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        @media only screen and (max-width: 768px) {
          width: 98%;
        }
        img {
          width: 25%;
          margin-right: 20px;
          @media only screen and (max-width: 768px) {
            width: 20%;
          }
        }
      }
      @media only screen and (max-width: 768px) {
        li {
          width: $FULL_WIDTH;
        }
      }
      @media only screen and (max-width: 768px) {
        width: $FULL_WIDTH;
      }
    }
    #cartItems {
      @include flexDirCol();
      height: $FULL_HEIGHT;
      li {
        @include flexDirRow();
        @include displayFlex();
        padding: 10px;
        background: $WHITE;
        border-bottom: 1px solid $GRAY;
        img {
          width: 20%;
          @include flex(1);
          @media only screen and (max-width: 768px) {
            width: 10%;
            @include flex(0);
          }
        }
        #itemDetail {
          @include flexDirCol();
          padding: 5px 10px;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          @include flexAuto();
          button {
            @include buttonStyle();
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
          button,
          span {
            margin-right: 5px;
          }
        }
        .itemCost {
          padding: 5px 10px;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.header {
  @include sectionStyle();
  height: 70px;
  @media only screen and (max-width: 600px) {
    height: 50px;
  }
  &__logo {
    @include flex(1);
    height: 96%;
    padding: 2px;
  }
  &__main-content {
    @include flex(9);
    @include justifyContentSpcBtn();
    @media only screen and (max-width: 600px) {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    &__nav {
      margin-left: 3%;
      height: $FULL_HEIGHT;
      &__links {
        color: $DARK_GRAY;
        padding: 4px;
        margin: 35% 20% 0 20%;
        @include fontStyle();
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
    }
    &__right-items {
      width: 100px;
      @include flexDirCol();
      @include justifyContentSpcBtn();
      &__login-links {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
      a,
      &__cart__item-description {
        @include fontStyle();
        padding: 3px 5px 2px 5px;
      }
    }
    &__cart {
      @include flexDirRow();
      @include alignItemsCenter();
      background-color: $GRAY;
      padding: 6px;
      @media only screen and (max-width: 600px) {
        height: $FULL_HEIGHT;
      }
      &__image {
        width: 15px;
        height: 25px;
        @include flex(1);
      }
    }
  }
}
