@import "./../main.scss";

h4 {
  margin: 0;
}
ul {
  padding: 10px;
  margin: 0;
  overflow-y: scroll;
}

.overlay {
  position: fixed;
  display: none;
  width: $FULL_WIDTH;
  height: $FULL_HEIGHT;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    top: 70px;
  }
  @media only screen and (max-width: 600px) {
    top: 50px;
  }
  .cartContainer {
    position: relative;
    background: $GRAY;
    top: 70px;
    width: 30%;
    left: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100% - 70px);
    @media only screen and (max-width: 768px) {
      top: 0;
      left: 0;
      width: $FULL_WIDTH;;
    }
    @media only screen and (max-width: 600px) {
      height: calc(100% - 50px);
    }
    .cartHeader {
      color: $WHITE;
      background: black;
      width: $FULL_WIDTH;;
      justify-content: space-between;
      @media only screen and (max-width: 768px) {
        background: white;
        color: $BLACK;
      }
      button {
        border: none;
        background: none;
        color: $WHITE;
        padding: 10px 20px;
      }
      h4 {
        padding: 15px;
        span {
          font-weight: 400;
          font-size: small;
        }
      }
    }
    .cartButton {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: white;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: auto;
      width: auto;
      padding: 10px;
      #promoSpan {
        font-size: small;
        padding-bottom: 10px;
      }
      button {
        width: 95%;
        padding: 12px;
        @include buttonStyle();
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }
    #cartEmpty {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background: white;
      color: $BLACK;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: $FULL_HEIGHT;
      .cartEmptyText {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 92%;
      }
      button {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
    #listItemContainer {
      height: calc(92% - 10px);
    }
    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0;
      .lowestPriceBranding {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 90%;
        padding: 10px;
        border-radius: 6px;
        background: white;
        margin-top: 10px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        @media only screen and (max-width: 768px) {
          width: 98%;
        }
        img {
          width: 25%;
          margin-right: 20px;
          @media only screen and (max-width: 768px) {
            width: 20%;
          }
        }
      }
      @media only screen and (max-width: 768px) {
        li {
          width: $FULL_WIDTH;;
        }
      }
      @media only screen and (max-width: 768px) {
        width: $FULL_WIDTH;;
      }
    }
    #cartItems {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: $FULL_HEIGHT;
      li {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 10px;
        background: white;
        border-bottom: 1px solid $GRAY;
        img {
          width: 20%;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          @media only screen and (max-width: 768px) {
            width: 10%;
            -webkit-box-flex: 0;
            -ms-flex: 0;
            flex: 0;
          }
        }
        #itemDetail {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          padding: 5px 10px;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-flex: 1;
          -ms-flex: auto;
          flex: auto;
          button {
            @include buttonStyle();
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
          button,
          span {
            margin-right: 15px;
          }
        }
        .itemCost {
          padding: 5px 10px;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.header_container {
  @include sectionStyle();
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  height: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  @media only screen and (max-width: 600px) {
    height: 50px;
  }
  img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 96%;
    padding: 2px;
  }
  .wrapper {
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @media only screen and (max-width: 600px) {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    nav {
      margin-left: 3%;
      height: $FULL_HEIGHT;
      a {
        color: $DARK_GRAY;
        padding: 4px;
        margin: 35% 20% 0 20%;
        @include fontStyle();
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
    }
    .cart {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: $GRAY;
      padding: 8%;
      @media only screen and (max-width: 600px) {
        height: $FULL_HEIGHT;
      }
      img {
        width: 15px;
        height: 25px;
      }
    }
    .rightItems {
      width: 100px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      a,
      span {
        font-size: small;
        font-weight: 600;
        padding: 3px 5px 2px 5px;
      }
      .loginItems {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }
}
