@import "./../main.scss";

section {
  @include sectionStyle();
  .slider-container {
    @include separatorStyle();
    position: relative;
    @include alignItemsCenter();
    &__image-container {
      width: $FULL_WIDTH;
      &__image {
        width: $FULL_WIDTH;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    &__nav-links {
      cursor: pointer;
      position: absolute;
      background: rgba(113, 113, 113, 0.6196078431372549);
      color: $WHITE;
      font-size: small;
      padding: 8px;
      &#arrow-left {
        left: 0;
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
      &#arrow-right {
        right: 0;
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
    }
    &__dots-wrapper {
      position: absolute;
      @include justifyContentCenter();
      bottom: 10px;
      width: $FULL_WIDTH;
      @media only screen and (max-width: 600px) {
        margin: 0 0 -30px 0;
      }
      &__dot {
        cursor: pointer;
        height: 5px;
        width: 5px;
        margin: 0 10px;
        background-color: $MEDIUM_GRAY;
        border-radius: 50%;
        -webkit-transition: background-color 0.6s ease;
        -o-transition: background-color 0.6s ease;
        transition: background-color 0.6s ease;
        &.active,
        &:hover {
          background-color: $BLACK;
        }
      }
    }
  }

  .category-list-item {
    @include separatorStyle();
    margin: auto;
    &__image {
      @include flex(1);
      width: 100px;
      height: 200px;
      -o-object-fit: contain;
      object-fit: contain;
    }
    &__description {
      @include flexDirCol();
      @include flex(2);
      margin: auto;
      span {
        text-align: center;
        font-size: large;
        font-weight: bold;
        margin-bottom: 15px;
        padding: 0 25px;
        &:nth-child(2) {
          @include fontStyle();
        }
      }
      a {
        margin: 0 auto;
        margin-bottom: 15px;
        color: $WHITE;
        background: $PINK;
        padding: 10px;
        @include fontStyle();
      }
    }
    &:nth-child(2n) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
    &:last-child {
      border-bottom: none;
    }
    @media only screen and (min-width: 769px) {
      width: $DESKTOP_WIDTH;
    }
  }
}
